

.text, .translation, .notes, .msimage {

    width:47%;
    position: absolute;
    left: 0;
    right: 0;
    overflow: scroll;
    line-height:1.2em;

}

.text {
    top: 0;
    height: 100%;
    width: 50%;
    color: grey;
/*    background-color: #fdfde7;  */
    background-color: black;
    padding-left:20px;
    border-right-style: 10px white solid;
    font-size: 110%;
}

.translation {

    top: 0%;
    left: 50%;
    width: 50%;
    bottom: 0%;
    height: 100%;
    color: grey;
    background-color: black;  
/*    background-color: #00134d, #e6f7ff;  */
    font-size: 100%;
    font-style: normal;  
    padding-right: 30px;
    display: block;
}


.notes {
    top: 54%;
    left: 0%;
    width: 50%;
    bottom: 0%;
    height: 52%;
    color: grey;
   /* background-color: #e6ffe6;  #00324d; */
    background-color: #00003f; 
    font-style: normal;  
    padding: 20px;
   /* font: normal 1em palatino; */
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.msimage {
    top: 50%;
    left: 52%;
    width: 47%;
    bottom: 0%;
    height: 55%;  
    overflow: scroll;
    color: grey;
    background-color: #00424d;  
    font-style: normal;  
    padding: 20px;
    font: normal 1em palatino; 
    display: none;
}


/*
.tooltip-wrap {
  display: block;
  position: relative;
  color: grey; 
}

.tooltip-wrap:active{
  opacity: 1;
  font-style: italic;
transition: opacity 6s;
}

.tooltip-wrap .tooltip-content {
  display: none;
  position: relative;
  top: 0%;
  right: 10%;
  left: 5%;
  padding: .5em;
  bottom: 125%;
  width: 80%;
  font-size: .8em;
  border: dotted;
  color: grey; 
}




 @media only screen and (max-width: 700px) {
.tooltip-wrap:hover .tooltip-content {

	display: block;
  font-weight: normal;
  font-style: normal;
}
}

 @media only screen and (min-width: 701px) {
.tooltip-wrap:active .tooltip-content {
	display: block;
  font-weight: normal;
  font-style: normal;
}
}

*/


/* OLD, TO BE DELETED */
.tooltip-content {
  top: 0%;
  right: 10%;
  left: 5%;
  padding: .5em;
  bottom: 125%;
  max-width: 80%;
  font-size: .8em;
  border: dotted;
  color: grey; 
}

.tooltip-wrap {
  display: block;
  position: relative;
  color: grey;
  font-size: .9em;
}
/* OLD, TO BE DELETED */





.wrap-main {
  display: block;
  position: relative;
  color: grey;
  font-size: .9em;
}

.wrap-content {
 top: 0%;
  right: 10%;
  left: 5%;
  padding: .5em;
  bottom: 125%;
  max-width: 80%;
  font-size: .8em;
  border: dotted;
  color: grey;
  }

th, td {
  padding: 1px;
  text-align: left;
}



TEXT {
	display: block;
}

RMTEXT {
	display: inline;
}

DNTEXT {
	display:none;
}

DNLEM {
	display:none;
}

PARAL {
	display: block;
	color: #cc8100;
}



trnsl {
	display: inline;
     font-weight: normal;
	color: gray;
	font-size: 100%;
}

trnslchapter {
	display: block;
     font-weight: bold;
	color: #cc8800;
	font-size: 170%;
}

trnslchapter:before {
	content: "["}
trnslchapter:after {
	content: "]"}


trnslsubchapter {
	display: inline;
     font-weight: bold;
	color: #cc8800;
	font-size: 100%;
}

trnslsubchapter:before {
	content: "["}
trnslsubchapter:after {
	content: "]"}



trnslsubsubchapter {
	display: inline;
     font-weight: bold;
	color: #cc8800;
	font-size: 80%;
}

trnslsubsubchapter:before {
	content: "["}
trnslsubsubchapter:after {
	content: "]"}





chapter {
	display: block;
  font-weight: bold;
	color: #cc8800;
	font-size: 120%;
	padding-top: 10px;
	padding-bottom: 10px;
}


chapter:before {
	content: "["}
chapter:after {
	content: "]"}

APP {
	display: block;
	}



subchapter {
	display: block;
  font-weight: bold;
	color: #cc8800;
	padding-top: 10px;
	padding-bottom: 10px;
}

subchapter:before {
	content: "["}
subchapter:after {
	content: "]"}


subsubchapter {
	display: block;
  font-weight: bold;
	color: #cc8800;
	font-size: 80%}

subsubchapter:before {
	content: "["}
subsubchapter:after {
	content: "]"}

LEM {
 	color: #cc8800;
}

LEM:after {
	content: " ]";
 	color: #cc8800;
}

DNLEM {
 	color: #cc8800;
}

DNLEM:after {
	content: " ]";
 	color: #cc8800;
}


sub {
	font-size:70%;
}
sup {
	font-size:10%;
}


vsnum {font-size: 1em;
	color: #cc8800;
	}

spaceaftersloka {
  	display: block;
  	margin-top: 10px;
}

skt {
        font-style: italic;
	}

corr {
        font-size: .7em;
	}

button {
 	color: #cc8800;
 	background-color: black;
	font-size: 100%;
	display: inline;
        border: 1px solid #cc8800; /* Orange */
}

/* first button active  */
#showtextandtranslation {
 	background-color: #cc8800;
 	color: black;

}

h1 {
 	color: #cc8800;
	padding-bottom: 50px;
}


h2 {
 	color: #cc8800;
}

colophon {
 	color: #cc8800;
        text-align: right;
}

colophon:before {
	content: "||"}
colophon:after {
	content: " ||"}


trnslcolophon {
 	color: #cc8800;
        text-align: right;
}



blockquote q {
  quotes: "‘" "’" "“" "”";
}


crux:before {
	content: "†";
	color: red;
}
crux:after {
	content: "†";
	color: red;
}


a  { 
	font-weight: bold; 
	text-decoration: none; 
	color: white;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #cc8800;
	}
a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: orange;
	}




/* Style The Dropdown Button */
.dropbtn {
  font-size: 10px;
  border: none;
  cursor: pointer;
  background-color: #fdfde7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px;
  font-size: 1em;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

select {
  width: 40%;
  padding: 1px 2px;
  border: solid;
  border-radius: 4px;
  color: grey;
  background-color: #00134d;
}

input {
  padding: 1px 2px;
  border: solid;
  border-radius: 4px;
  color: grey;
  background-color: #00134d;
}



