name: Pipeline manuscripts

on:
  push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
       - uses: actions/checkout@v2
       - name: Set up JDK 1.8
         uses: actions/setup-java@v1
         with:
           java-version: 1.8

       - name: Build critical editions with Ant
         run: ant -noinput -buildfile build-critical.xml

       - name: Transforming the edited texts in the repository for display
         run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add docs/html
          git commit -m "XML files are created"
          git push
